[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
keras = "*"
scikit-learn = "*"
tensorflow = "==2.2.0"
pillow = "*"
opencv-python = "*"
pandas = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
